html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1.battleship-name {
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: clamp(14px, 3vw, 24px);
  color: darkslategrey;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid lightgray;
  margin-bottom: 1rem;
}

.main-content {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100dvh;
}

body {
  background-color: ghostwhite;
}

.players-ships-status {
  display: flex;
  justify-content: space-around;
}

.your-ships,
.opponent-ships {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.opponent-ships {
  flex-direction: row-reverse;
}

.first-gameboard-grid {
  display: grid;
  grid-template-columns: repeat(10, 2rem);
  grid-template-rows: repeat(10, 2rem);
}

.second-gameboard-grid {
  display: grid;
  grid-template-columns: repeat(10, 2rem);
  grid-template-rows: repeat(10, 2rem);
}

.first-gameboard-grid > div,
.second-gameboard-grid > div {
  outline: 1px solid #00000055;
}

.player-ui {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  row-gap: 2rem;
  height: 80%;
}

.alphabet {
  display: grid;
  grid-template-columns: repeat(10, 2rem);
  justify-content: center;
  align-items: center;
}

.alphabet > div {
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: clamp(12px, 3vw, 16px);
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #777777;
}

.numbers {
  display: grid;
  grid-template-columns: 2rem;
}

.numbers > div {
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: clamp(12px, 3vw, 16px);
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #777777;
}

.numbers-side {
  position: absolute;
  left: -34px;
}

.gameboard-ui {
  position: relative;
}

footer {
  border-top: 1px solid lightgray;
  outline: lightgray;
  text-align: center;
  padding: 1rem;
  background-color: whitesmoke;
  font-size: clamp(12px, 3vw, 16px);
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: darkslategray;
}

.github-repos {
  color: darkslategrey;
  text-decoration: none;
}

/* added classlist */
.false {
  background-image: url(../img/hit.svg);
}

.true {
  background-image: url(../img/missed.svg);
}

/* is for ships */
#false {
  background-image: url(../img/hit.svg);
}

#true {
  background-image: url(../img/missed.svg);
}

.circle {
  border: 1px solid gray;
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
}

.circles {
  display: flex;
  gap: 0.25rem;
}

header#header {
  background-color: white;
  position: relative;
}

.ships {
  background-color: darkslategray;
}

.enable-pointer {
  pointer-events: initial;
  opacity: 100%;
}
.disable-pointer {
  pointer-events: none;
  opacity: 66%;
}

.announce-winner {
  position: absolute;
  display: flex;
  width: 100%;
  background-color: gainsboro;
  bottom: 3rem;
  z-index: -1;
  justify-content: space-around;
  height: 100%;
  align-items: center;
  box-shadow: 0 0 5px -2px #000;
}
.announce-winner > button {
  padding: 0.5rem 1rem;
  border: 2px solid black;
  border-radius: 0.2rem;
  border-top-color: gray;
  border-left-color: gray;
  font-size: clamp(12px, 3dvw, 14px);
  font-family: roboto;
}

.announce-winner > h2 {
  font-family: roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: clamp(0.5rem, 5vw, 1rem);
  color: darkslateblue;
}

.announce-winner > button:active {
  border-color: black gray gray black;
}

.announce-winner.not-yet {
  display: none;
}

/* show winner a pop up */
.announce-winner.player-winner {
  display: flex;
  z-index: 1;
  bottom: -3rem;
}
